.container {
  width: 1300px;
  margin: 0 auto;
}

.publish-form section {
  background-color: white;
  border: 1px EBEDEE solid;
  margin: 25px 0 10px 0;
  padding: 10px 20px;
}

.publish-form h2 {
  font-size: 20px;
  font-weight: 500;
}

.section1-photo {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-title div,
.section3-details div,
.input-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publish-form input:not(:first-child) {
  width: 50%;
  height: 60px;
  margin-bottom: 5px;
  border: none;
}

.publish-form input:focus {
  outline: none;
}

.checkbox-interest input {
  height: 10px;
  width: 10px;
}

.publish-button {
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #09aeb6;
  padding: 0 10px;
  color: white;
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: 10px;
}
